@import './colors.css';
@import './typography.css';

/* @import "tailwindcss";

@config '../../tailwind.config.ts'; */

/*
  Example custom styles:
  background-color add className: 'bg-danger-900',
  color text add className: 'text-danger-900',
  font-size text add className: 'text-xxl',
  line-height text add className: 'leading-l',
  font-weight text add className: 'font-bold',
*/

@layer base {
  input[type='search']::-webkit-search-cancel-button {
    cursor: pointer;
    visibility: visible;
    filter: brightness(0) invert(1);
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 0 transparent inset;
    caret-color: var(--color-light-100);
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: var(--color-light-900);
  }

  input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-light-100);
  }

  html {
    line-height: var(--line-height-m);
    color: var(--color-light-100);
  }
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: var(--color-dark-300);
    border-radius: 2px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-100);
    border-radius: 2px;
  }
}